.status-list {

  .list-item {
    color: #545454;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    background-color: #FFFFFF;
    margin-bottom: 10px;
  }
}


@keyframes fadeInLeftShort {
  from {
    opacity: 0;
    transform: translate3d(-40px, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeftShort {
  animation-name: fadeInLeftShort;
}
